.products-main {
  padding: 3rem 3rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.product {
  border: 1px solid #000;
  padding: 2rem;
  max-width: 200px;
  height: 200px;
}

.product h3 {
  text-align: center;
}

.product img {
  width: 70%;
  margin: 0 auto;
}

.pagination {
  margin-bottom: 2rem;
}

.pagination button {
  background: #fff;
  box-shadow: none;
  border: 1px solid #000;
  margin-right: 10px;
  color: #000;
  margin-bottom: 10px;
}
