html,
body {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trafficLight {
  background: #222;
  border-radius: 30px;
  width: 140px;
  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px #444;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px auto;
  background-color: #333;
}

.redOn {
  background: #d52b1e;
  opacity: 1;
  box-shadow: 0 0 24px #d52b1e;
}

.yellowOn {
  background: #ffed00;
  opacity: 1;
  box-shadow: 0 0 24px #ffed00;
}

.greenOn {
  background: #00bb2d;
  opacity: 1;
  box-shadow: 0 0 24px #00bb2d;
}
